*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: myfonte;
    src: url(fontes/Simple\ tfb.ttf);
}
.container{ 
    display: flex;
}
.container-menu{
    background-color: #1b7fad;
    height: 100vh;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 35px;
}
.menu{
    background-color: #ffd800;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container-keyboard{
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;
    width: 380px;
    height: 530px;
    box-shadow: 3px 8px 8px #0000002a;
    border-radius: 0px 15px 15px 0px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ececec85;
}
.container-keyboard > h1{
    font-family: myfonte;
    font-size: 23pt;
    color: #10085c ;
    margin-left: 15px;
    text-shadow: 2px 2px 3px #00000034;
}
.input{
    font-size: 17pt;
    height: 60px;
    width: 280px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 30px;
    background-color: #f3f3f385;
}
::-webkit-input-placeholder{
    color: #24245f;
}
.keyboard{
   margin-left: 28px;
}
.key{
    background-color: #ffffff5b;
    color: #24245f;
    border: 1px solid #00000057;
    font-size: 20px;
    font-weight: bold;
    height: 55px;
    width: 104px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    border-radius: 5px;
}
.key:hover{
    background-color: #dddddd;
    border: none;
}

.button{
    border: none;
    cursor: pointer;
    background-color: #f3f3f385;
}
.button-call{
    background-image: linear-gradient(45deg, #53dfcc, #17b3b9, #4ba8a8);
    height: 57px;
    width: 180px;
    border-radius: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}
.button-son{
    margin-left: 30px;
    margin-right: 10px;
}